APScheduler==3.10.1
azure-common==1.1.28
azure-core==1.27.0
azure-identity==1.13.0
azure-mgmt-containerservice==23.0.0
azure-mgmt-core==1.4.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.1
Flask==2.3.2
google-auth==2.19.1
idna==3.4
importlib-metadata==6.6.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
kubernetes==26.1.0
MarkupSafe==2.1.3
msal==1.22.0
msal-extensions==1.0.0
oauthlib==3.2.2
portalocker==2.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
typing_extensions==4.6.3
tzlocal==5.0.1
urllib3==1.26.16
websocket-client==1.5.2
Werkzeug==2.3.6
zipp==3.15.0
